<!--The content below is only a placeholder and can be replaced.-->

    <!-- Welcome to {{ title }}!
    <img src ='https://www.google.co.in/logos/doodles/2018/{{imagep}}'/>
    <div>
<input id ='inputid' type='text' value ='Tom'>
    </div>
  <table>
      <tr>
          <!-- ATTRIBUTE BINDING-->
      <!-- <th attr.colspan="{{colnspn}}"> 
              employee
          </th>
          <th [attr.colspan]="colnspn1">b 
              njjkknkj
          </th>
      </tr>
  </table> -->
  <!--class binding-->
  <!-- <button class="italicClass" [class]= 'classToApply'>click</button>
    <!--class binding-->
    <!-- <button class="colorClass" [class.boldClass]= 'applyBoldApply'>click</button>

    <button class="colorClass" [ngClass]= 'addClasses()'>click</button> -->
 

    <!--***********stylebinding ***************-->
    <!-- <button style ='color:red' [style.font-weight]="isBold? 'bold':'normal'">styleBinding</button>
    <button style ='color:red' [style.fontWeight]="isBold? 'bold':'normal'">styleBinding</button>

    <button style ='color:red' [style.fontSize.px]="fontSize">styleBinding1</button> -->



    <!--**********Event Bindind**********-->
<!--FIRST METHOD-->
    <!-- <button  (click)='onClick()'>EventBinding</button> -->
<!--SECONG METHOD cononical form-->

    <!-- <button   on-click='onClick()'>EventBinding</button> -->

    <!-- <app-employee></app-employee>  -->


    your text:<input type='text' [(ngModel)]='userText'/>
   <app-simple [simpleInput]='userText'></app-simple>
    <app-employeelist></app-employeelist>
 